:root {
  --main-background-color: #90EE90;
  --main-text-color: black;
  --card-front-text-size: 20pt;
  --card-text-color: black;
  --card-background-color: white;
  --card-back-text-size: 12pt;
}

body {
  background-color: var(--main-background-color);
  padding: 0px;
  margin: 0px;
}

#main {
  position: relative;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  padding: 10px;
  min-width: 800px;
  width: 70%;
  margin: 0px auto;
  height: 100%;
}

h1 {
  color: var(--main-text-color);
}

label {
  display: block;
  margin-top: 10px;
}

textarea {
  position: relative;
  width: 99%;

}

.counter {
  margin-top: 0px;
  margin-bottom: 20px;
  float: right;
}

.flashcard {
  position: relative;
  background-color: var(--card-background-color);
  color: var(--card-text-color);
  width: 500px;
  min-height: 200px;
  margin: auto;
}

.flashcard p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 480px;
  overflow: auto;
  margin: auto 10px;
}

#front-card-example p {
  font-weight: bold;
  font-size: var(--card-front-text-size);
}

#back-card-example p {
  font-size: var(--card-back-text-size);
}

.nav_btn {
  float: right;
  margin-right: 10px;
}

#failedSaveText {
  color: red;
}

#logo {
  font-family: "Barrio";
  display: inline;
}
