:root {
    --main-background-color: #152131;
    --main-text-color: white;
  }

  body {
    background-color: var(--main-background-color);
    padding: 0px;
    margin: 0px;
  }

  #main {
    position: relative;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    padding: 10px;
    min-width: 800px;
    width: 70%;
    margin: 0px auto;
    height: 100%;
  }

  label {
    display: block;
    margin-top: 10px;
  }

  textarea {
    position: relative;
    width: 99%;
  }


  #public-checkbox {
    display: table;
  }

  .counter {
    margin-top: 0px;
    margin-bottom: 20px;
    float: right;
  }

  .btn {
    float: right;
    margin-right: 10px;
  }
