:root {
  --main-background-color: #90EE90;
  --main-text-color: black;
  --secondary-background-color: #D5F9D5;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

#logo {
  font-family: "Barrio";
  display: inline;
}

h1 {
  font-size: 36pt;
  margin-top: 20px;
}

form {
  display: inline;
  margin-right: 10px;
}

.cardForm {
  display: none;
}

.cardFront {
  display: block;
  float: left;
  margin-right: 10px;
  font-size: 20pt;
  border: none;
}

.deck_button_img {
  display: block;
  width: 16px;
  height: 16px;
  padding: 0px;
  margin-top: 7px;
}

.hidden {
  display: none;
  padding: 0px;
  margin: 0px;
}
