:root {
  --main-background-color: #90EE90;
  --main-text-color: black;
  --secondary-background-color: #D5F9D5;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

#logo {
  font-family: "Barrio";
  display: inline;
}

h1 {
  font-size: 36pt;
  margin-top: 70px;
}

form {
  margin-right: 10px;
}

/* Used just for the fadeIn jQuery */
.cardForm {
  display: none;
}

/* Each row consists of both cards and the  delete button */
.cardRow {
  display: block;
  margin-bottom: 20px;
  width: 90%;
  height: 170px;
}

.cardFrontText {
  display: block;
  font-size: 16pt;
  margin: 2px;
}

.cardBackText {
  display: block;
  margin: 2px;
}

.flashcard {
  background-color: white;
  width: 300px;
  height: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.cardFront {
}

.cardBack {
}

.deck_button_img {
  display: block;
  width: 16px;
  height: 16px;
  padding: 0px;
  margin-top: 7px;
}

.hidden {
  display: none;
  padding: 0px;
  margin: 0px;
}
