:root {
  --main-background-color: #90EE90;
  --main-text-color: black;
  --secondary-background-color: #D5F9D5;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

/* Navigation Bar */
#logo {
  font-family: "Barrio";
  display: inline;
}

.blue-button {
  font-weight: bold;
  color: white;
  background-color: #0062cc;
  border: 1px;
  border-radius: 4px;
}

.blue-button:hover {
  color: #0062cc;
  background-color: #1A80EE;
}

.orange-button {
  font-weight: bold;
  color: #DE6C0D;
  background-color: #F6BE34;
  border: 1px;
  border-radius: 4px;
}

.orange-button:hover {
  color: #F6BE34;
  background-color: #DE6C0D;
}

/* Other styles */
h1 {
  font-size: 36pt;
  margin-top: 70px;
}

form {
  display: inline;
  padding: 0px;
  margin-right: 10px;
}

.deckForm {
  display: none;
}

.deck {
  font-size: 20pt;
  margin-left: 20px;
  padding: 5px;
  border: none;
  background-color: var(--main-background-color);
}

.deck:hover {
  background-color: var(--secondary-background-color);
}

.deck_button_img {
  width: 16px;
  height: 16px;
  padding: 0px;
  margin: 0px;
}

img {
}

.hidden {
  display: none;
  padding: 0px;
  margin: 0px;
}
