:root {
  --main-background-color: #90EE90;
  --main-text-color: black;
  --secondary-background-color: #D5F9D5;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

h1 {
  font-size: 36pt;
  margin-top: 20px;
}

.deckForm {
  display: none;
}

.deck {
  font-size: 20pt;
  margin-right: 10px;
  margin-left: 20px;
  padding: 5px;
  border: none;
  background-color: var(--main-background-color);
}

.deck:hover {
  background-color: var(--secondary-background-color);
}

#logo {
  font-family: "Barrio";
  display: inline;
}

.deck_button_img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.delete_btn:hover {
  border: 10px;
}
