:root {
  --main-background-color: #90EE90;
  --main-text-color: black;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

h2 {
  display: inline;
}

#logo {
  font-family: "Barrio";
  display: inline;
}

.deck_button_img {
  width: 30px;
  height: 30px;
}
