<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create Flashcard </title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../static/css/create-new-card.css">
        <script type="text/javascript" src="../static/js/user-library.js"></script>
        <!-- Pulled a cool Google font for the app name-->
        <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet" />
    </head>
    <body>
        <!--Content Container-->
        <div id="wrapper">
            <!--Navigation Bar-->
            <header class="bg-white d-flex">
                <div class="container d-flex header-inner">
                    <div class="logo">
                        <div class="menu-container" class="btn-success" id="menu-toggle" onclick="myFunction(this)">
                            <div class="bar1"></div>
                            <div class="bar2"></div>
                            <div class="bar3"></div>
                        </div>
                    
                    </div>
                    <nav>
                        <div class="container nav-inner">
                            <div class="menu nav">
                                <div class="nav-inner-cont nav-left left"></div>

                                <div class="nav-inner-cont nav-right right">
                                    <div class="log-in menu-item-right">
                                        <a class="navbar-brand" href="/">
                                            <p id="logo">Quizzex</p>
                                            <img src="../static/img/logo-transparent.png" alt="Logo" style="width: 60px; height: 40px;" />
                                        </a>
                                    </div>   
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>

            <!--SideBar Nav-->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li>
                        <a href="/library">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" fill="currentColor" class="bi bi-person-circle" viewBox="0 1 16 16">
                                <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                                <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
                            </svg>
                            Account
                        </a>
                    </li>

                    <li>
                        <a href="/publicDecks">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-binoculars-fill" viewBox="0 1 18 18">
                                <path
                                    d="M4.5 1A1.5 1.5 0 0 0 3 2.5V3h4v-.5A1.5 1.5 0 0 0 5.5 1h-1zM7 4v1h2V4h4v.882a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V13H9v-1.5a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5V13H1V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V4h4zM1 14v.5A1.5 1.5 0 0 0 2.5 16h3A1.5 1.5 0 0 0 7 14.5V14H1zm8 0v.5a1.5 1.5 0 0 0 1.5 1.5h3a1.5 1.5 0 0 0 1.5-1.5V14H9zm4-11H9v-.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5V3z"
                                />
                            </svg>
                            Public
                        </a>
                    </li>
                    <li>
                        <a href="/goToCreateDeck">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-heading" viewBox="0 2 16 16">
                                <path
                                    fill-rule="evenodd"
                                    d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"
                                />
                                <path fill-rule="evenodd" d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z" />
                                <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z" />
                            </svg>
                            Create Deck
                        </a>
                    </li>
                   
                    <li>
                        <a href="/goToCreateCard">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-text" viewBox="0 2 18 18">
                                <path
                                    fill-rule="evenodd"
                                    d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"
                                />
                                <path
                                    fill-rule="evenodd"
                                    d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"
                                />
                            </svg>
                            Create Card
                        </a>
                    </li>

                    <li>
                        <a href="/doLogout">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-closed-fill" viewBox="0 2 16 16">
                                <path fill-rule="evenodd" d="M4 1a1 1 0 0 0-1 1v13H1.5a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2a1 1 0 0 0-1-1H4zm2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                            </svg>
                            Sign Out
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Page Content-->
            <div id="page-content-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-lg=12">
                            
<!-- Main body of the create-new-card page -->
<div id="main" name="main">
    <h1>Create Flashcard</h1>

    {% if failedSaveMessage %}
      <p id="failedSaveText">{{ failedSaveMessage }}</p>
    {% endif %}

    <form action="/addNewCard">
      <label for="deck-select">Choose a Deck:</label>
      {% if decks %}
        <select id="deck-select" name="deck-select">
          {{ decks|safe }}
        </select>
      {% else %}
        <p style="color:red;">No decks to choose from!</p>
        <input name="deck-select" type="text"/>
      <!--
          <option value="history">History</option>
          <option value="algebra">Algebra</option>
          <option value="spanish">Spanish</option>
        -->
      {% endif %}
      <br>
      <br>

      <label for="front-text">Front:</label>
      <textarea class="card-text" id="front-text" name="front-text" maxlength="300" rows="8" cols="50"></textarea>
      <p class="counter" id="front-counter" name="front-counter">0/300</p>
      <label for="front-card-example">Front Example:</label>
      <div class="flashcard d-flex justify-content-center" id="front-card-example" name="front-card-example">
        <p class="align-self-center">Front of Card</p>
      </div>
      <br>

      <label for="back-text">Back:</label>
      <textarea class="card-text" id="back-text" name="back-text" maxlength="300" rows="8" cols="50"></textarea>
      <p class="counter" id="back-counter" name="back-counter">0/300</p>
      <div id="back-counter" name="back-counter"></div>
      <label for="back-card-example">Back Example:</label>
      <div class="flashcard d-flex justify-content-center" id="back-card-example" name="back-card-example">
        <p class="align-self-center">Back of Card</p>
      </div>
      <br>

      <input type="button" class="nav_btn" id="save-button" name="save-button" value="Save" onClick="save()">
      <br>
      <br>
    </form>

  </div>

        <!--Menu toggle script-->
        <script>
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("menuDisplayed");
            });
        </script>

        <script>
            function myFunction(x) {
                x.classList.toggle("change");
            }
        </script>

        <script type="text/javascript" src="../static/js/create-new-card.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
        <script type="text/javascript" src="../static/js/publicDecks.js"></script>
    </body>
</html>
