<!DOCTYPE html>

<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel ="stylesheet" type="text/css">
  <link rel="stylesheet" href="../static/css/deck.css">
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>Create Flashcard Deck</title>
</head>

<body>
  <!-- Navigation Bar https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp -->
  <nav class="navbar navbar-expand-sm bg-white">
    <!-- Brand Logo -->
    <a class="navbar-brand" href="#">
      <img src="../static/img/logo-transparent.png" alt="Logo" style="width:40px;">
    </a>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/library">Library</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/goToCreateDeck">Create Deck</a>
      </li>
      {% if numdecks %}
        {% if numdecks > 0 %}
          <li class="nav-item">
            <a class="nav-link" href="/goToCreateCard">Create Card</a>
          </li>
        {% endif %}
      {% else %}
        <li class="nav-item">
          <a class="nav-link disabled" href="/goToCreateCard">Create Card</a>
        </li>
      {% endif %}
      <!-- Example of disabled link
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      -->
    </ul>
  </nav>

  <!-- Main Body of the Deck page -->
  <div id="main" name="main">
    <h1>Create New Deck</h1>

    {% if failedSaveMessage %}
      <p id="failedSaveText">{{ failedSaveMessage }}</p>
    {% endif %}

    <form action="/addNewDeck">
      <label for="deck-name">Deck Name: </label>
      <input type="text" id="deck-name" name="deck-name" required><br><br>

      <label for="deck-description">Deck Description: </label>
      <textarea class="description" id="description" name="description" maxlength="300" rows="8" cols="50" required></textarea>
      <p class="counter" id="desc-counter" name="desc-counter">0/300</p>
      <br><br>

      <label for="category-select">Category: </label>
      <select id="category-select" name="category-select" required>
        {% if options %}
          <option>{{ options }}</option>
        {% else %}
          <option value="history">History</option>
          <option value="algebra">Algebra</option>
          <option value="spanish">Spanish</option>
          <option value="softwareDev">Software Dev Tools and Methods</option>
          <option value="other">Other...</option>
        {% endif %}
      </select>
      <br>
      <br>

      <label for="sharing-permissions">Make this deck public? </label>
      <input type="checkbox" id="public-checkbox" name="public-checkbox">

      <br>
      <br>

      <input type="button" class="btn" id="save-button" name="save-button" value="Save" onClick="save()">
      <input type="button" class="btn" id="back-button" name="back-button" value="Back" onClick="back()">
      <br>
    </form>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
  <script type="text/javascript" src="../static/js/deck.js"></script>
</body>

</html>
