<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel ="stylesheet" type="text/css">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script src ="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
    <script src ="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"/> </script>
    <link href="../static/css/study_card.css" rel ="stylesheet" type="text/css">
    <script src="../static/js/study_card.js"></script>
    <title>Study Cards</title>
  </head>

  <body>
    <header class="bg-white d-flex">
        <div class="container d-flex header-inner">
        <div class="logo">
            <img src="https://raw.githubusercontent.com/RegExTeam/projectRegEx/master/root/static/img/aspire_flashcards_icon.png"/>
            <div></div>
        </div>
        <nav>
            <div class="container nav-inner">
                <div class="menu nav">
                    <div class="nav-inner-cont nav-left left">
                        <div class="search"></div>
                    </div>

                    <div class="nav-inner-cont nav-right right">
                        <div class="log-in menu-item-right">
                            <!-- <a href="#" class="button">Login</a> -->
                        </div>
                        <div class="sign-up menu-item-right">
                            <a href="/library" class="button">Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        </div>
    </header>

    <main>
        <div class="UI-Container UI-Container-is-full">
          <div class="Info-Description" id="deck-name">
          {% if deckname %}
            <h2>{{ deckname }}</h2>
          {% else %}
            <h2>Deck</h2>
          {% endif %}
          </div>
          <div class="deck-container Info-Description">
              <div class="card" id = "fade" onclick="flip()">
                <div class= "front">
                    <p id="card_info"></p>
                </div>
                
                <div class="back">
                    <p id="backcard_info"></p>
                </div>
                
          </div>
          
          <div class="cards-navControl">
            <div class="next-left-container previous">
                <a href="#" class="button" id="back_button">←</a>
            </div>
            <div cladd="space"></div>
            <div class="next-right-containter next">
                <a href="#" class="button" id="next_button">→</a>
            </div>  
           </div>

        </div>
    </main>

    <footer>
        <h5>Team RegEx 2020</h5>
    </footer>
</body>

</html>
