<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="">
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>Library</title>
</head>

<body>
  <div id="user-info" name="user-info">
    {% if username %}
      <h1>{{ username }}'s Profile</h2>
    {% else %}
      <h1>Your Profile</h1>
    {% endif %}

    {% if numdecks %}
      {% if numdecks > 1 %}
        <p id="deck-counter" name="deck-counter">You currently have {{ numdecks }} decks!</p>
      {% else %}
        <p id="deck-counter" name="deck-counter">You currently have 1 deck!</p>
      {% endif %}
    {% else %}
      <p id="deck-counter" name="deck-counter">You currently have 0 decks</p>
    {% endif %}
  </div>
  <a href="">Create Folder</a>
  <div id="folder-list" name="folder-list">
    {{ folders }}
  </div>
  <div id="deck-list" name="deck-list">
    {{ decks }}
  </div>
  <br>

  <input type="button" id="create-deck-button" name="create-deck-button" value="Create New Deck" onclick="createDeck()">
  <input type="button" id="create-card-button" name="create-card-button" value="Create New Card" onclick="createCard()">
  
  <script type="text/javascript" src="../static/js/user-library.js"></script>
</body>

</html>
